.cooks {
    padding-bottom: 100px;
    &__title {
        margin-bottom: 107px;
        text-align: center;
    }
    &__items {
        padding-right: 19px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    &__img-wrapper {
        max-width: 540px;
        max-height: 462px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media(max-width: 630px) {
        &__items {
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-gap: 40px;
        }
    }
    @media(max-width: 430px) {
        &__title {
            margin-bottom: 70px;
        }
        &__items {
            grid-gap: 20px;
        }
    }
}