.history {
    margin-bottom: 122px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__content {
        max-width: 450px;
        margin-right: 125px;
        text-align: center;
    }
    &__img-wrapper {
        max-width: 540px;
        max-height: 500px;
    }
    &__title {
        margin-bottom: 21px;
    }
    &__text {
        margin-bottom: 75px;
    }
    &__numbers {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__number {
        &:not(:last-child) {
            margin-right: 35px;
        }
    }
    &__number-text {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #000;
    }
    @media(max-width: 1040px) {
        &__content {
            margin-right: 70px;
        }
    }
    @media(max-width: 910px) {
        &__content {
            margin-right: 40px;
        }
    }
    @media(max-width: 750px) {
        &__inner {
            flex-direction: column;
        }
        &__content {
            margin-right: 0px;
            margin-bottom: 45px;
        }
    }
    @media(max-width: 420px) {
        &__numbers {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__number {
            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 23px;
            }
        }
    }
}